//front-page 画像設定
@use "../../foundation/mixin";

.c-media {
    &__top__front {
        height: 530px;
        max-width: 100%;
        background-image: url("../img/front-page-ダミーサイト.jpg");
        background-size: cover;
        background-position: center;
        @include mixin.breakpoint( tablet ) {
            height: 285px;
        };
    }
    &__takeout {
        background-image: url("../img/front_flex_left.jpg");
        background-size: cover;
        background-position: center;
        //height: 100%;
        margin: 8.3% 2.5% 9.3% 0;
        @include mixin.breakpoint( tablet ) {
            margin: 4.8% 4.8% 4.8% 0;
        };
        @include mixin.breakpoint( sp ) {
            height: 50%;
            margin: 0 0 20px 0;
        };
    }
    &__eatin {
        background-image: url("../img/front_flex_right.jpg");
        background-size: cover;
        background-position: center;
        //height: 100%;
        margin: 8.3% 0 9.3% 2.5%;
        @include mixin.breakpoint( tablet ) {
            margin: 4.8% 0;
        };
        @include mixin.breakpoint( sp ) {
            height: 50%;
            margin: 0;
        };
    }
}

//archive・archive-search 画像設定

.c-media {
    &__top__archive {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 239px;
        background: url(../img/archive-menu.jpg);
        background-size: cover;
        background-position: center;
        z-index: -5;
        @include mixin.breakpoint( tablet ) {
            height: 283px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: -10;
        }
    }
    &__menu {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        object-fit: cover;
        object-position: left;
        @include mixin.breakpoint( sp ) {
            background-size: cover;
            background-position: center;
        };
    }
}

// single画像 WordPress化

.c-media {
    &__top__single {
        width: 80vw;
        aspect-ratio: 1920 / 500;
        padding-left: 4.5vw;
        height: 500px;
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        @include mixin.breakpoint( tablet ) {
            width: 100%;
            padding-left:10vw;
        };
        @include mixin.breakpoint( sp ) {
            height: 225px;
            padding-left: 7vw;
        };
    }
}

/* page画像 WordPress化 */

.c-media__top {
    margin: 0;
    figure {
        .wp-image-146 {
            width: 1340px;
            height: 560px;
            object-fit: cover;
            object-position: bottom;
            //margin-bottom: 60px;
            margin: 120px 0 60px 0;
            @include mixin.breakpoint( tablet ) {
                height: 264px;
                //margin-bottom: 0;
                margin: 60px 0;
            };
            @include mixin.breakpoint( sp ) {
                height: 154px;
                margin: 30px 0;
                //margin: 0 5.3% 30px 5.3%;
            };    
        }
    }      
}

.c-media__middle,
.wp-block-media-tex {
    padding-bottom: 60px;
    @include mixin.breakpoint( tablet ) {
        padding-bottom: 30px;
    };
    figure {
        .wp-image-146 {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: top;
            padding-right: 2%;
            @include mixin.breakpoint( tablet ) {
                //width: 43%;
                padding-right: 2.5%;
            };
            @include mixin.breakpoint( sp ) {
                //width: 45%;
                padding-right: 2.4%;
            };
        }
    }
}

.c-media__bottom {
    flex-direction: row-reverse;
    padding-bottom: 60px ;
    @include mixin.breakpoint( tablet ) {
        padding-bottom: 30px;
    };
    figure {
        .wp-image-146 {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: top;
            padding-left: 2%;
            @include mixin.breakpoint( tablet ) {
                //width: 43%;
                padding-left: 2.5%;
            };
            @include mixin.breakpoint( sp ) {
                //width: 45%;
                padding-left: 2.4%;
            };
        }
    }
}

.c-media__half {
    figure {
        margin-bottom: 60px;
        text-align: center;
        margin: 0;
        @include mixin.breakpoint( tablet ) {
            padding-top: 4px;
            margin-bottom: 241px;
        };
        @include mixin.breakpoint( sp ) {
            padding-top: 0;
            margin-bottom: 30px;
        };
        .wp-image-146 {
            width: 581px;
            height: auto;
            @include mixin.breakpoint( sp ) {
                width: 72%;
            };
        }
    }
}

.c-media__tile {
    margin: 0;
    .wp-block-snow-monkey-blocks-items--item--free {
        .smb-items__item {
            .smb-items__item__body {
                figure {
                    //width: 100%;
                    //display: flex;
                    //flex-wrap: wrap;
                    //justify-content: space-between;
                    //padding: 0 5.05% 0 5.2%;
                    /*@include mixin.breakpoint( tablet ) {
                        //padding: 0 7.2%;
                        display: grid;
                        justify-items: center;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 20px 20px;
                        flex-wrap: none;
                        justify-content: none;
                    };
                    @include mixin.breakpoint( sp ) {
                        grid-template-columns: repeat(1, 1fr);
                        row-gap: 20px;
                    };*/
                    .wp-image-146 {
                        width: 100%;
                        height: auto;
                        //margin-bottom: 20px;
                        @include mixin.breakpoint( tablet ) {
                            //width: 73.7%;
                            //margin-bottom: 0;
                        };
                        @include mixin.breakpoint( sp ) {
                            //width: auto;
                        };
                    }
                }
            }
        }
    }
}


//page top画像設定

.c-media {
    &__top__page {
        width: 100%;
        height: 500px;
        position: relative;
        background: url(../img/page-ショップについて.jpg) no-repeat center;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        display: flex;
        z-index: -5;
        @include mixin.breakpoint( sp ) {
            height: 225px;
            background-size: 190%;
        };
    }
}