//archive・archive-search comments設定
@use "../../foundation/mixin";

.c-comments {
    padding: 60px 6.44% 70px 6.44%;
    @include mixin.breakpoint( tablet ) {
        padding: 36px 6.44% 37px 6.44%;
    };
    @include mixin.breakpoint( sp ) {
        padding: 30px 4.8% 19px 4.8%;
    };
    &__title {
        font-family: "m-plus-1m", sans-serif;
        font-size: 2.25rem;
        font-weight: bold;
        @include mixin.breakpoint( sp ) {
            font-size: 1.75rem;
        };
    }
    &__text {
        font-family: "m-plus-1m", sans-serif;
        font-size: 1rem;
        padding-top: 25px;
        line-height: 1.8;
        text-align: justify;
        @include mixin.breakpoint( sp ) {
            padding-top: 30px;
        };
    }
}

//single・page comments設定
.c-comments__block {
    padding: 0 5.2%;
    @include mixin.breakpoint( tablet ) {
        padding: 0 7.2%;
    };
}

.c-comments__block__text{
        padding: 60px 0;
                @include mixin.breakpoint( sp ) {
            padding: 30px 0;
        };
        .wp-block-group__inner-container{ 
            .h2 {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                font-size: 2.25rem;
                padding-bottom: 60px;
                @include mixin.breakpoint( sp ) {
                    padding-bottom: 30px;
                };
            }
            .has-normal-font-size {
                font-family: "m-plus-1m", sans-serif;
                font-size: 1rem;
                line-height: 1.6;
                text-align: justify;
                padding-bottom: 60px;
                @include mixin.breakpoint( sp ) {
                    padding-bottom: 34px;
                };
            }
            .h3 {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                font-size: 1.75rem;
                padding-bottom: 60px;
                @include mixin.breakpoint( sp ) {
                    padding-bottom: 31px;
                };
            }
            .h4 {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                font-size: 1.25rem;
                padding-bottom: 60px;
                @include mixin.breakpoint( tablet ) {
                    padding-bottom: 76px;
                };
                @include mixin.breakpoint( sp ) {
                    padding-bottom: 37px;
                };
            }
            .h5 {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                font-size: 1.25rem;
                padding-bottom: 60px;
                @include mixin.breakpoint( sp ) {
                    padding-bottom: 30px;
                };
            }
            .h6 {
                font-family: "m-plus-1m", sans-serif;
                font-weight: bold;
                font-size: 1.25rem;
            }
        }
    }

.c-comments__text__copy {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    font-family: "m-plus-1m", sans-serif;
    padding: 60px 3.1% 60px 2.6%;
    @include mixin.breakpoint( tablet ) {
        padding: 60px 6.7% 60px 6%;
    }
    * {
        font-size: 1rem;
    }
    blockquote {
        line-height: 1.5;
        margin: 0;
        padding-bottom: 60px;
        text-align: justify;
    }
    p {
        padding-left: 6%;
    }
    a {
        padding-left: 1.2%;
        text-decoration: underline solid #707070;
    }
}



/* single・page WordPress化 */

//記事
.wp-block-media-text__content {
    padding: 0;
    .c-comments__img__text {
        width: 100%;
        display: flex;
        @include mixin.breakpoint( sp ) {
            height: 165px;
            //margin-bottom: 30px;
            padding: 0;
            overflow: hidden;
        }; 
        .wp-block-group__inner-container {
            padding: 0;
            .has-normal-font-size {
                font-family: "m-plus-1m", sans-serif;
                line-height: 1.5;
                @include mixin.breakpoint( sp ) {
                    height: 165px;
                    //margin-bottom: 30px;
                    padding: 0;
                    overflow: hidden;
                };
            }
        }
    }
}

//リスト
.p-page__wrap__list {
    width: 100%;
    padding: 40px 5.2% 60px 7.8%;
    font-family: "m-plus-1m", sans-serif;
    font-size: 1rem;
    @include mixin.breakpoint( tablet ) {
        padding: 60px 7.2% 60px 13.2%;
    };
    @include mixin.breakpoint( sp ) {
        padding: 30px 14.4%;
    };
}
.p-page__block {
    padding-bottom: 60px;
}
.p-page__block__list1 {
    padding: 20px 0;
}
.p-page__block__list2 {
    padding: 20px 0;
}

//code
.p-single__code {
    width: 100%;
    height: 237px;
    background-color: #F5F5F5;
    padding: 50px 60px 50px 50px;
    font-size: 1rem;
    color: #3C2A10;
    line-height: 1.4;
    @include mixin.breakpoint( tablet ) {
        padding: 50px 59px 50px 50px;
    };
}