//archive,archive-search設定
@use "../../foundation/mixin";

.p-pagination {
    width: 100%;
    padding: 75.5px 0 64px 0;
    @include mixin.breakpoint( tablet ) {
        padding-bottom: 34px;
    };
    @include mixin.breakpoint( sp ) {
        padding-top: 49px;
        padding-bottom: 30px;
        height: 95px;
    };
    
    .wp-pagenavi {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: #707070;
        padding-left: 0;
        padding-right: 0;
        @include mixin.breakpoint( sp ) {
            display: none
        };
        
        .pages {
            font-family: "roboto", sans-serif;
            font-size: 1rem;
            padding: 0 19.3px 0 0;
            @include mixin.breakpoint( sp ) {
                display: none;
            }; 
        }  

        .previouspostslink {
            display: block;
            border-style: none;
            margin-right: 17.2px;
            @include mixin.breakpoint( sp ) {
            display: none;
            };
        }

        .current {
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid;
            line-height: 35px;
            text-align: center;
            background-color: #3c2b1c;
            color: #fff;
            @include mixin.breakpoint( sp ) {
            display: none;
            };
        }

        .page {
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid;
            line-height: 35px;
            text-align: center;
            @include mixin.breakpoint( sp ) {
            display: none;
            };
        }
        
        .nextpostslink {
            display: block;
            border-style: none;
            margin-left: 17.2px;
            @include mixin.breakpoint( sp ) {
            display: none;
            };
        }
        
        span,
        a {
            margin: 0;
            padding: 0;
        }

        .page + .page,
        .current + .page,
        .page + .current {
            margin-left: 15px;
        }
    }
}

.p-pagination,
.nav-links {
    @include mixin.breakpoint( sp ) {
        color: #707070;
        font-family: "roboto", sans-serif;
        position: relative;
    }

    .nav-previous {
    position: absolute;
    top: -10px;
    right: 5%;
    }

    .nav-next {
    position: absolute;
    top: -10px;
    left: 5%;
    }
}

