@use "../foundation/mixin";

.l-header {
    width: 100%;
    height: 217px;
    background-color: #FFF7EF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mixin.breakpoint( tablet ) {
        //margin-top: 60px;
        flex-direction: column;
        justify-content: space-around;
    };
    &__left {
        margin: 0 3rem;
        @include mixin.breakpoint( tablet ) {
            margin: 0;
        };
        a {
            color: #707070;
            font-size: 4rem;
            h1 {
                font-family: "roboto", sans-serif;
                font-size: 4rem;
                font-weight: 200;
                text-decoration: none;
                @include mixin.breakpoint( tablet ) {
                    font-size: 2.5rem;
                    margin: 40px 0 38px 0;
                };
                @include mixin.breakpoint( sp ) {
                    margin: 40px 86px 38px 86px;
                }
            }
        }
    }

    &__form {
        width: 37%;
        margin-right: 30px;
        display: flex;
        @include mixin.breakpoint( tablet ) {
            margin: 0 auto 40px auto;
            width: 65.5%;
        };
        
            
        &__box {    
            width: 72.3%;
            height: 46px;
            background-color: #FFFFFF;
            border-radius: 0.6rem;
            border: solid 1px #707070;
            font-size: 1.0rem;
            font-weight: 500;
            margin-right: 0.875rem;
            display: flex;
            @include mixin.breakpoint( tablet ) {
                left: 17.2%;
                margin-right: 1.7%;
            };
            @include mixin.breakpoint( sp ) {
                width: 230px;
                left: 6.4%;
                margin-right: 3.2%;
            };
            .l-header__form__icon {
                position: relative;
                top: 11px;
                left: 3%;
                color: #808080;
                font-weight: 900;
                font-size: 24px;
            }
            .l-header__form__search {
                position: relative;
                width: 89%;
                left: 5%;
                @include mixin.breakpoint( sp ) {
                    width: 85.8%;
                };
            }
        }        
            
        &__button {
            width: 136px;
            height: 46px;
            font-family: "m-plus-1m", sans-serif;
            font-size: 1rem;
            background-color: #F2EDE9;
            border-radius: 0.6rem;
            border: solid 1px #707070;
            color: #707070;
            cursor: pointer;
            text-align: center;
            margin-bottom: 3px;
            @include mixin.breakpoint( tablet ) {
                right: 17.2%;
            };
            @include mixin.breakpoint( sp ) {
                width: 78px;
                right: 8.3%;
            };
        }       
    }
}
        
            
        
        /*
        &__label-search {
            content: '\f002';
            font-family: "Font Awesome 5 Free";
            color: #808080;
            font-weight: 900;
            font-size: 1.33333em;
            line-height: .75em;
            vertical-align: -0.0667em;
        }  
        .svg-inline--fa {
            width: 72.3%;
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
        }
        .fa-search {
            color: #808080;
            //padding-right: 55%;
            padding-left: 10px;   
        }
        .fa-lg {
            font-size: 1.33333em;
            line-height: .75em;
            vertical-align: -0.0667em;
            path {
                justify-content: left;
            }
        }*/
        

