@use "../foundation/mixin";

.l-sidebar {
    @include mixin.breakpoint( tablet ) {
        padding-top: 212px;
        height: 1826px;
    };
    @include mixin.breakpoint( sp ) {
        height: 2716px;
    };
}
.l-sidebar__menu {
    font-family: "roboto", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    display: block;
    color: #707070;
    padding-top: 82px;
    padding-bottom: 85px;
    padding-left: 12.5%;
    @include mixin.breakpoint( tablet ) {
        display: none;
    };
}
.cat-item >a {
    font-family: "roboto", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #707070;
    padding-left: 12.5%;
}
.children {
    padding: 40px 0 17px 18%;
}
.cat-item-5,
.cat-item-6, 
.cat-item-7, 
.cat-item-8, 
.cat-item-9, 
.cat-item-10, 
.cat-item-11, 
.cat-item-12, 
.cat-item-13, 
.cat-item-14, 
.cat-item-15, 
.cat-item-16, 
.cat-item-17, 
.cat-item-18, 
.cat-item-19, 
.cat-item-20, 
.cat-item-21 {
    padding-bottom: 23px;
    >a {
        font-family: "m-plus-1m", sans-serif;
        font-weight: normal;
        font-size: 1.25rem; 
        color: #707070;
        padding-left: 0;
    }
}


    